.venv/
.env
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/
*.db

.dart_tool/
build/
.idea/
.metadata

*.iml
.vscode/

.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.packages
*.g.dart

android/local.properties
android/key.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
